{% extends 'base.html' %}
{% block container %}

<div class="seven">
  <h1>Log a Workout</h1>
</div>

<div class="form-workout">
<form method="POST" action="{{ url_for('create') }}">
  <p>Date: <input type="date" id="date" name="date" /></p> <!-- Add the 'date' field -->
  <p>Body part: <input type="text" id="body_part" name="body_part" /></p>
  <p>Exercise: <input type="text" id="exercise" name="exercise" /></p>
  <p>Reps <input type="text" id="reps" name="reps" /><br /></p>
  <p>Weight: <input type="text" id="weight" name="weight" /><br /></p>
  <div class="buttons">
    <button class="button-78"><a href="{{ url_for('read')}}">Cancel</a> </button>
    <button class="button-78"> <input type="submit" name="post-btn" value="Post" /> Post </button>
  </div>
</form>
</div> 
{% endblock %}
