{% extends 'base.html' %}

{% block container %}



<div class="seven">
    <h1>Workout Tracker</h1>
  </div>
{% if username %}
        <div class="welcome">Hello, {{ username }}!</div>
    {% else %}
        <p class="index-text">You are not logged in. <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('signup') }}">Sign up</a> here.</p>
    {% endif %}
    <div class="buttons"> 
        <a href="{{ url_for('read') }}"> <button class="button-78" role="button">See Workouts</button> </a> 
        <a href="{{ url_for('create') }}"><button class="button-78" role="button">Log a workout</button> </a> 
      <button class="button-78" role="button">Explore other Exercises</button>
      </div>
{% endblock %}
